<%- include('partials/header.ejs') -%>

<div class="container">
  <div class="p-top">
    <h3 class="h3-heading">Contact Me</h3>
    <p class="contact-description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa nulla pariatur voluptatem quod quaerat! Commodi vero obcaecati fugiat delectus incidunt atque nisi, animi unde recusandae optio sint, architecto, labore et.
    </p>
    <div class="contact-links">
      <a href="mailto:mail@gmail.com"><i class="fa-solid fa-envelope"></i></a>
      <a href="http://www.facebook.com"><i class="fa-brands fa-facebook-square"></i></a>
      <a href="http://www.instagram.com"><i class="fa-brands fa-instagram-square"></i></a>
      <a href="http://www.twitter.com"><i class="fa-brands fa-twitter-square"></i></a>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') -%>