<%- include('partials/header.ejs') -%>

<div class="container">

  <!-- Post -->
  <div class="p-top">
    <h3 class="h3-heading"><%= postFounded.title %></h3>
    <p><%= postFounded.desc %></p>
  </div>

</div>

<%- include('partials/footer.ejs') -%>